.container {
  display: flex;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.editorSection {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 800px;
  margin: 1rem auto;
  border: none;
}

.actionButtons {
  display: flex;
  align-items: center;
}

.titleInput {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  height: 50px;
}
.editor {
  height: 300px;
  padding: 0.5rem;
  font-family: monospace;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.preview {
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
}

.title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
