.markdownList {
  /* max-width: 40%; */
}

.container {
  /* max-width: 1280px; */
  display: flex;
  justify-content: space-around;
  width: 100vw;
}


.sidePanel {
 width: 15%;
 min-height: 80vh;
}

.mainLayout {
 width: 70%;

}